.navbar-brand{
     
  background: linear-gradient(to left,blue,blue,red, blue, red, orange, red) !important;
  -webkit-background-clip: text !important;
  color: transparent !important; 
  font-size: xx-large;
  font-weight: bold;
}